<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>上课咯</title>
    <header th:replace="header::html"></header>
    <link rel="stylesheet" href="/admin/xadmin/lib/layui/css/layui.css">
    <script type="text/javascript" th:src="@{/admin/xadmin/lib/layui/layui.js}" charset="utf-8"></script>
</head>

<body>

    <navbar th:replace="navbar::html"></navbar>

    <div class="container layout layout-margin-top">


        <div class="row">
            <div class="col-md-9 layout-body">

                <div class="content">
                    <div class="row course-cates">
                        <div class="col-md-1 course-cates-title">类别：</div>
                        <div class="col-md-11 course-cates-content">
                            <a name="type" id="type-100" href="javascript:void(0);" th:onclick="'changeSimpleCondition(\'type\',\'' + '100'+ '\')'" th:text="全部"></a>

                            <a name="type"  id="type-0" href="javascript:void(0);" th:onclick="'changeSimpleCondition(\'type\',\'' + '0'+ '\')'" th:text="免费"></a>

                            <a name="type"  id="type-1" href="javascript:void(0);" th:onclick="'changeSimpleCondition(\'type\',\'' + '1'+ '\')'" th:text="限免"></a>
                            <div name="type" id="type-2" class="course-cates-vip" th:onclick="'changeSimpleCondition(\'type\',\'' + '2'+ '\')'">
                                <a target="_blank" href="javascript:void(0);"><img src="/img/vip-icon.png"></a>
                                <a  href="javascript:void(0);"  th:text="积分"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row course-cates">
                        <div class="col-md-1 course-cates-title">标签：</div>
                        <div class="col-md-11 course-cates-content">
                            <a  name="classify_id" id="classify_id-100" href="javascript:void(0);" th:onclick="'changeSimpleCondition(\'classify_id\',\'' + '100'+ '\')'" th:text="全部"></a>

                            <a  name="classify_id" id="classify_id-1" href="javascript:void(0);" th:onclick="'changeSimpleCondition(\'classify_id\',\'' + '1'+ '\')'" th:text="艺术"></a>

                            <a  name="classify_id" id="classify_id-2" href="javascript:void(0);" th:onclick="'changeSimpleCondition(\'classify_id\',\'' + '2'+ '\')'" th:text="哲学"></a>

                            <a  name="classify_id" id="classify_id-3" href="javascript:void(0);" th:onclick="'changeSimpleCondition(\'classify_id\',\'' + '3'+ '\')'" th:text="经济学"></a>
                        </div>
                    </div>
                </div>
                <div class="content position-relative">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="/courses/?course_type=all&amp;tag=all&amp;fee=all">已上线</a></li>
                        <li class=""><a href="/courses/?status=preview" class="stat-event"
                                        data-stat="preview_course">即将上线</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="courses-sort">
                        <a name="order" id="create_time" href="javascript:void(0);"
                            th:onclick="'changeSort(\'create_time\',\'' + '-1'+ '\')'"
                            th:text="最新">
                        </a>
                        /
                        <a name="order" id="weight" href="javascript:void(0);"
                            th:onclick="'changeSort(\'weight\',\'' + '-1'+ '\')'"
                            th:text="最热">
                        </a>
                    </div>
                    <div class="search-result"></div>

                    <div class="row">

                        <div id="tab_list"></div>
                        <div id="course-console" class="course-title">
                            没有找到相关结果>_<，换个姿势去搜索相关数据吧~
                        </div>
                    </div>

                    <!-- 存放分页的容器 -->
                    <div id="layui"></div>

                </div>
            </div>


            <div class="col-md-3 layout-side">

                <div class="panel panel-default panel-userinfo">
                    <div class="panel-body body-userinfo">
                        <div class="media userinfo-header">
                            <div class="media-left">
                                <div class="user-avatar">

                                    <a class="avatar" href="#sign-modal" data-toggle="modal" data-sign="signin">
                                        <img class="circle" src="../img/logo-grey.png">
                                    </a>

                                </div>
                            </div>
                            <div class="media-body">

                                <span class="media-heading username">欢迎来到上课咯</span>
                                <p class="vip-remain">看视频，学知识</p>

                            </div>
                        </div>

                        <div class="row userinfo-data">

                            <hr>
                            <div class="btn-group-lr">
                                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn"
                                   data-toggle="modal" data-sign="signin" style="margin: auto">你好，XXX</a>
                                <br/><br/><br/>
                                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn"
                                   data-toggle="modal" data-sign="signup">收藏夹</a>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="sidebox">

                    <div class="sidebox-header">
                        <h4 class="sidebox-title">最热路径</h4>
                    </div>
                    <div class="sidebox-body course-content side-list-body">
                        <a href="/paths/python"><img style="width:25px;height:25px" src="../img/1471513769430.png"> Python
                            研发工程师</a>
                    </div>

                </div>

                <div class="side-image side-qrcode">
                    <img src="../img/ShiyanlouQRCode.png">
                    <div class="side-image-text">关注公众号，手机看教程</div>
                </div>

            </div>

        </div>
    </div>



    <div id="base-data"
         data-flash="false"
         data-is-login=false
         data-is-jwt=true
         data-msg-user=""
         data-msg-system=""
    ></div>

    <footer th:replace="footer::html"></footer>
</body>

    <script type="text/javascript" src="/js/dest/lib/lib.js?=2016121272249"></script>
    <script type="text/javascript" src="/js/dest/frontend/index.js?=2016121272249"></script>

<script>
    var pageInfo = { currentPage:1,pageSize:9};
    var condition = { map:new Map()};
    condition.map.set("orderBy","weight");
    condition.map.set("orderDirection","-1");

    initLayPage(pageInfo,condition);

    function changeActive(key,value) {
        console.log(key+"-"+value)
        $("[name='"+key+"']").attr("class","");
        $("div[name='"+key+"']").attr("class","course-cates-vip");
        $("#"+key+'-'+value).addClass("active");
    }

    function changeOrderActive(key) {
        $("[name='order']").attr("class","");
        $("#"+key).addClass("active");
    }


    function changeSimpleCondition(key, value) {
        changeActive(key,value);
        switch (key) {
            case '*':
                condition.map.delete(key);
                console.log("*")
                break;
            default:
                condition.map.set(key,value);
        }
        pageInfo.currentPage=1;
        initLayPage(pageInfo,condition);
    }

    function changeSort(orderBy, direction) {
        pageInfo.currentPage=1;
        changeOrderActive(orderBy);
        condition.map.set("orderBy",orderBy);
        condition.map.set("orderDirection",direction);
        initLayPage(pageInfo,condition);
    }






    /**
     * 初始化layui分页
     */

    function initLayPage(pageInfo,condition) {

        $.post("/course/listBy", {page:pageInfo.currentPage,limit:pageInfo.pageSize,condition:JSON.stringify(condition)}, function (data) {
            layui.use(['laypage', 'layer'], function () {
                var page = layui.laypage;
                page.render({
                    elem: 'layui',
                    count: data.count,
                    limit: pageInfo.pageSize,
                    curr: pageInfo.currentPage,
                    limits: [9, 18, 27,36],			//可选每页显示条数
                    groups: 5  ,                    //连续页码个数
                    first: "首页",
                    last: "尾页",
                    layout: [ 'prev', 'page', 'next', 'skip','count', 'limit'],
                    jump: function (obj, first) {
                        if (!first) {
                            pageInfo.currentPage = obj.curr;
                            pageInfo.pageSize = obj.limit;
                            initLayPage(pageInfo,condition);
                        }
                    }
                });
                if(data.count === 0){
                    $('#course-console').show();
                }else {
                    $('#course-console').hide();
                }
                fillTable(data.datas,(pageInfo.currentPage - 1) * pageInfo.pageSize); //页面填充
            })
        });
    }

    //填充表格数据
    function fillTable(data, num) {
        $("#tab_list").html('');

        for (var i = 0; i < data.length; i++) {
            var info = '<div class="col-md-4 col-sm-6  course"><a class="course-box" href="/course/show?id='+data[i].id+'"><div class="course-img">';
            info += '<img alt="'+ data[i].name +'" src='+ data[i].coverUrl;
            info += '></div><div class="course-body"><span class="course-title" data-toggle="tooltip" data-placement="bottom" >';
            info += data[i].name + '</span></div><div class="course-footer"><span class="course-per-num pull-left"><i class="fa fa-users"></i>';
            info += '<span >'+ data[i].studyCount +'</span>';
            info += '</span></div></a></div>';
            $("#tab_list").append(info);
        }
    }
    </script>

</html>
