<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title> 上课咯</title>
    <header th:replace="header::html"></header>
<!--    <link rel="stylesheet"  th:href="@{/js/upload-js/style.css}"/>-->
    <script src="/libs/wangEditor/wangEditor.js"></script>
    <script src="/js/xss/xss.js"></script>
    <script src="/js/xss/options.js"></script>
    <style>
        .modal-dialog {
            width: 956px;
            margin: 60px auto;
        }
        .row{
            margin-left:0px;
            margin-right:0px;
        }
        .panel-body{
            padding-bottom:5px;
        }
        div.circle-avatar{
            /* make it responsive */
            max-width: 26px;
            width:26px;
            height:26px;
            display:block;
            /* div height to be the same as width*/
            /*padding-top:100%;*/
            /* make it a circle */
            border-radius:50%;

            /* Centering on image`s center*/
            background-position-y: center;
            background-position-x: center;
            background-repeat: no-repeat;

            /* it makes the clue thing, takes smaller dimension to fill div */
            background-size: cover;

            /* it is optional, for making this div centered in parent*/
            margin: 0 auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .progress{
            margin-top:2px;
            width: 200px;
            height: 14px;
            margin-bottom: 10px;
            overflow: hidden;
            background-color: #f5f5f5;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        }
        .progress-bar{
            background-color: rgb(92, 184, 92);
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
            background-size: 40px 40px;
            box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
            box-sizing: border-box;
            color: rgb(255, 255, 255);
            display: block;
            float: left;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            transition-delay: 0s;
            transition-duration: 0.6s;
            transition-property: width;
            transition-timing-function: ease;
            width: 266.188px;
        }
        .hiddenSpan{
            width: 100% !important;
            height:140px !important;
            float: left !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            white-space: normal !important;
        }

    </style>
</head>

<body>

    <navbar th:replace="navbar::html"></navbar>

    <div class="container layout layout-margin-top">

        <ol class="breadcrumb">
            <li>
                <span>全部课程</span>
            </li>

            <li>
                <span th:text="${course.classifyName}"></span>
            </li>

            <li class="active">
                <span th:text="${course.name}"></span>
            </li>
        </ol>

        <div class="row">
            <div class="col-md-9 layout-body">

                <div class="side-image side-image-mobile">
                    <img th:src="${course.coverUrl}">
                </div>

                <div class="content course-infobox">
                    <div class="clearfix course-infobox-header">
                        <h4 class="pull-left course-infobox-title">

                            <span th:text="${course.name}"></span>

                        </h4>
                    </div>

                    <div class="clearfix course-infobox-body">
                        <div class="course-infobox-content">
                            <p th:text="${course.shortIntro}"></p>
                        </div>

                        <div class="course-infobox-progress">
                            <div th:if="${course.finishedCount} ne 0" th:each="i:${#numbers.sequence(1,course.finishedCount)}"
                                 class="course-progress-finished"></div>

                            <div th:if="${course.sectionCount - course.finishedCount} ne 0 "
                                 th:each="i:${#numbers.sequence(1,(course.sectionCount - course.finishedCount))}"
                                 class="course-progress-new"></div>

                            <span> ( </span>
                            <span th:text="${course.sectionCount}"></span>
                            <span> / </span>
                            <span th:text="${course.finishedCount}"></span>
                            <span> ) </span>
                        </div>


                        <div class="pull-right course-infobox-price"></div>

                    </div>

                    <div class="clearfix course-infobox-footer">

                        <div class="pull-right course-infobox-learned">   人学过 </div>
                        <div class="pull-right course-infobox-learned" th:text="${course.studyCount} "></div>
                    </div>

                </div>

                <div class="content">

                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active">
                            <a href="#labs" aria-controls="labs" role="tab" data-toggle="tab">课程列表</a>
                        </li>

                        <li role="presentation">
                            <a href="#comments" class="stat-event" aria-controls="comments" role="tab"
                               data-stat="course_comment" data-toggle="tab">课程评价</a>
                        </li>
                        <li role="presentation">
                            <a href="#QA" class="stat-event" data-stat="course_QA" aria-controls="QA"
                               role="tab" data-toggle="tab">课程答疑</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="labs">
                            <div class="comment-form">
                                <div class="comment-form-unlogin" sec:authorize="!isAuthenticated()">
                                    <a href="#sign-modal" data-toggle="modal" data-sign="signin" data-next="/courses/1"> 登录 </a>
                                    后方可开始课程学习
                                </div>
                            </div>
                            <div class="lab-item " th:each="section:${course.sections}">
                                <div class="jumpDiv" th:data-bind="${section.sort}"> </div>
                                <div class="lab-item-index" th:text="${section.sort}">第2节</div>
                                <div class="lab-item-title" data-toggle="tooltip" data-placement="bottom"
                                     th:text="${section.name}">基本概念及操作</div>

                                <div class="pull-right lab-item-ctrl" sec:authorize="isAuthenticated()">
                                    <a class="btn btn-primary" th:onclick="'accessStudy('+${section.courseId}+','+${section.id}+')'" style="border-radius: 3px">开始学习</a>
                                </div>
                            </div>
                    </div>

                        <div role="tabpanel" class="tab-pane course-comment" id="comments">
                            <div class="comment-box">
                                <div class="comment-form">
                                    <div class="comment-form-unlogin" sec:authorize="!isAuthenticated()">
                                        请
                                        <a href="#sign-modal" data-toggle="modal" data-sign="signin" data-next="/courses/1"> 登录 </a>
                                        后发表评论
                                    </div>
                                </div>
                                <div class="comment-title">最新评论</div>
                                <div class="comment-list pre-scrollable" id="comment-list">
                                    <div class="panel panel-default ">
                                        <div class="panel-body" style="padding-bottom:5px">
                                            <div class="pull-left circle-avatar" style="background-image:url(../img/ncn1.jpg);"></div>
                                            <span class="pull-left" style="clear: both !important">Basic panel example Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                                vice lomo.</span>
                                            <div class="row">
                                                <div class="pull-left" style="clear: both !important"><span>2020-06-12 14:51</span></div>
                                                <span class="pull-right">
                                                    <p class="glyphicon glyphicon-heart-empty"></p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination-container">
                                    <div class="panel-heading ">
                                        <div class="input-group col-lg-12" sec:authorize="isAuthenticated()">
                                            <input id="course-comment" type="text" class="form-control" style="box-shadow:none;width:700px" placeholder="请输入评论">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default"  onclick="addComment()" type="button">回复</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="QA">
                            <div class="report-owner">
                                <span class="owner-list" onclick="initQuestion()">未解决</span> /
                                <span class="owner-list" onclick="initAnswer()" >已解决</span>
                            </div>
                            <div class="row report-items">
                                <div class="comment-form-unlogin" sec:authorize="!isAuthenticated()">
                                    请
                                    <a href="#sign-modal" data-toggle="modal" data-sign="signin" data-next="/courses/1"> 登录 </a>
                                    后创建答疑问题
                                </div>
                                <div class="comment-form-unlogin" sec:authorize="isAuthenticated()">
                                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#askquestion" onclick="editQuestionnaire()" style="border-radius:21px;margin-bottom: 10px">
                                        编辑答疑问题
                                    </button>
                                </div>

                                <div class="comment-list pre-scrollable" id="questionnaire-list">
                                    <div class="panel panel-default" data-toggle="modal" data-target="#showQuestion">
                                        <div class="panel-body" style="padding-bottom:5px">
                                            <div class="pull-left"><h3 id="questionnaire-title-show" style="margin-top: 0px;">答疑标题</h3></div>
                                            <span class="pull-left" style="clear: both !important">
                                                向哪运动是由摩擦力决定，开始马受到地面的摩擦力大于车受到的方向相反的摩擦力，
                                                车就与马一起向前运动。而后只要两者的摩擦力相等，这种状况就能持续了。在无动力的情况下车决不会受与整体运动方向相同的摩擦力。
                                                所以，车不会拉马走。
                                            </span>
                                            <div class="row">
                                                <div class="pull-left" style="clear: both !important"><span>2020-06-12 14:51</span></div>
                                                <span class="pull-right row">
                                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                                        <span> 1687</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default" data-toggle="modal" data-target="#showAnswer" onclick="loadQuestion('1')">
                                        <div class="panel-body" style="padding-bottom:5px">
                                            <div class="pull-left"><h3  style="margin-top: 0px;">答疑标题</h3></div>
                                            <span class="pull-left" style="clear: both !important">
                                                向哪运动是由摩擦力决定，开始马受到地面的摩擦力大于车受到的方向相反的摩擦力，
                                                车就与马一起向前运动。而后只要两者的摩擦力相等，这种状况就能持续了。在无动力的情况下车决不会受与整体运动方向相同的摩擦力。
                                                所以，车不会拉马走。
                                            </span>
                                            <div class="row">
                                                <div class="pull-left" style="clear: both !important"><span>2020-06-12 14:51</span></div>
                                                <span class="pull-right row">
                                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                                        <span> 1687</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination-container"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 layout-side">

                <div class="side-image side-image-pc">
                    <img th:src="${course.coverUrl}">
                </div>


                <div class="sidebox mooc-teacher">
                    <div class="sidebox-header mooc-header">
                        <h4 class="sidebox-title">课程教师</h4>
                    </div>
                    <div class="sidebox-body mooc-content">
                        <a href="/user/20406" target="_blank">
                            <img th:src="${course.creator.avatarUrl}" > <!--src="/img/Linux&c.png">-->
                        </a>
                        <div class="mooc-info">
                            <div class="name"><strong th:text="${course.creator.nickname}">Edward</strong></div>

                            <div class="courses">共发布过<strong th:text="${course.creator.coursesCount}">18</strong>门课程</div>
                        </div>
                        <div class="mooc-extra-info">
                            <div class="word long-paragraph" th:text="${course.creator.shortIntro}">
                                资深程序员,5年Linux运维、企业级开发经验及数据库实战和教学经验.
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="modal fade" id="askquestion" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role=document>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">发帖</h4>
                </div>
                <div class="modal-body words-ctrl">
                    <form class="form-horizontal" action="/questions/">
                        <input name="_csrf_token" type=hidden value="1483794941##be4fb68b276c5f7cb970936cb25985cd53b943d1">
                        <div class="form-group">
                            <label class="col-md-2 control-label">标题</label>
                            <div class="col-md-10">
                                <input type="text" id="questionnaire-title-input" name="title" min="5" max="100" class="form-control" placeholder="至少输入5个字">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">描述</label>
                            <div class="col-md-10">


                                <div class="tabpanel mkeditor">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#mkeditor-editor" role="tab" data-toggle="tab">编辑</a>
                                        </li>
                                        <li role="presentation">
                                            <a class="mkeditor-btn-view" id="preview" href="#mkeditor-viewer" role="tab"
                                               data-toggle="tab">预览</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active mkeditor-editor" id="mkeditor-editor" role="tabpanel">
                                            <div id="toolbar"  style="border: 1px solid #ccc;">
                                            </div>
                                            <div style="padding: 5px 0; color: #ccc">
                                                <div id="upload" class="row">
                                                    <div>
                                                        <div id="container" ><p id="console"></p></div>
                                                        <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
                                                        <a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
                                                        <a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
                                                    </div>
                                                </div>
                                                <div id="html"></div>
                                            </div>
                                            <div id="editor">
                                                <p>开始编辑你的问题</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane mkeditor-viewer markdown-body" id="mkeditor-viewer" role="tabpanel">
                                            <div id="text1"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" onclick="addQuestionnaire()" class="submit-question btn btn-primary" data-dismiss="modal">提交</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="showQuestion" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role=document>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="showQuestion-title">这就是你点开的问题标题</h3>
                </div>
                <div class="modal-body" id="showQuestion-content" >
                        请
                        <a href="#sign-modal" data-toggle="modal" data-sign="signin" data-dismiss="modal" data-next="/courses/1"> 登录 </a>
                        后再浏览答疑
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="showAnswer" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role=document>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="showAnswer-title">这就是你点开的问题标题</h3>
                </div>
                <div class="modal-body"  id="showAnswer-content" >
                    <p>问题答案</p>
                    <p>很精彩</p>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="footer::html"></footer>

    <script type="text/javascript" src="/js/dest/lib/lib.js?=2016121272249"></script>
    <script type="text/javascript" src="/js/dest/frontend/index.js?=2016121272249"></script>
    <script type="text/javascript" src="/js/upload-js/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="/js/upload-js/mixUpload.js"></script>
    <script type="text/javascript">
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, // 月份
                "d+": this.getDate(), // 日
                "H+": this.getHours(), // 小时
                "m+": this.getMinutes(), // 分
                "s+": this.getSeconds(), // 秒
                "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
                "S": this.getMilliseconds() // 毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };
        var E = window.wangEditor;
        var editor = new E("#toolbar","#editor");
        var userId = localStorage.getItem("userId");

        function editQuestionnaire(){
            editor.customConfig.onchange = function (html) {
                // 监控变化，同步更新到 textarea
                $('#text1').html(html)
            };
            editor.create();

            document.getElementById('preview').addEventListener('click', function () {
                // 如果未配置 editor.customConfig.onchange，则 editor.change 为 undefined
                editor.change && editor.change()
            })
        }

        refresh();

        function loadQuestion(questionId) {
            $("#showAnswer-head-"+questionId).html("");
            $("#showAnswer-head-"+questionId).append("<span>&lt;iframe src='http://mooc-manager.oss-cn-shenzhen.aliyuncs.com/user-dir-prefix/hFKWMpFahN.mp4'&gt;&lt;/iframe&gt;</span>");
        }

        function refresh(){
            initComment();
            initLike();
            initQuestion();
        }

        function addComment(){
            $.post("/comment/addCourseComment",
                {
                courseId:[[${course.id}]],
                content:$("#course-comment").val(),
                userId:userId
                }
                ,function (data) {
                    if(data.code === 200){
                        $("#course-comment").val("");
                        refresh();
                        console.log("成功发表评论！")
                    }else {
                        alert("发表评论失败")
                    }
                }
            );
        }



        function addQuestionnaire(){
           var questionnaire = {userId:userId,courseId:[[${course.id}]],title:$("#questionnaire-title-input").val(),qHtml:""};
           var html = editor.txt.html();
           html = filterXSS(html,options);
           questionnaire.qHtml = html;

           $.post("/questionnaire/add",{
               questionnaire:JSON.stringify(questionnaire)},
               function (data) {
                   console.log(data.code);
                   if (data.code == 200) {
                       console.log("请求发送成功！");
                       initQuestion();
                   } else {
                       alert("答疑创建请求失败！");
                   }
               }
           )
        }


        function initComment(){
            $.get("/comment/courseComment",{courseId:[[${course.id}]]},function (data) {
                if(data.code === 200){
                    $("#comment-list").html("");
                    var html ='';

                    $.each(data.datas,function (key,comment) {
                        html += '<div class="panel panel-default " >' +
                            '<div class="panel-body" style="padding-bottom:5px">'+
                            '\t\t<div class="pull-left circle-avatar" style="background-image:url('+ comment.avatarUrl +')"></div>\n' +
                            '\t\t<div class="pull-left" style="clear: both !important"><span>'+  comment.content  +'</span></div>\n' +
                            '\t\t<div class="row">\n' +
                            '\t\t\t<div class="pull-left" style="clear: both !important"><span>'+ new Date(comment.createTime).Format("yyyy-MM-dd HH:mm") +'</span></div>\n' +
                            '\t\t\t<span class="pull-right">\n' +
                            '\t\t\t\t<p class="glyphicon glyphicon-heart-empty"  id="like'+comment.id+'"></p>\n' +
                            '\t\t\t</span>\n' +
                            '\t\t</div>\n' +
                            '\t</div>\n';
                        html+='</div>';
                    });
                    $("#comment-list").append(html);
                }else {
                    alert("获取评论请求失败！");
                }
            });
        }

        $(document).on("click","p[id^=like]",function(e){
            var commentId = e.target.id.replace("like","");
            var content = $('#comment-content'+commentId).val();
            console.log(content);
            $.post("/comment/like",{commentId:commentId,userId:window.localStorage.getItem("userId")},function (data) {
                if(data.code === 200){
                    $("#like"+commentId).attr("class","glyphicon glyphicon-heart");
                }else {
                    alert("点赞失败");
                }
            });
        });

        function initLike(){
            $.get("/comment/like",{},function(data){
                if(data.code === 200){
                    $.each(data.datas,function (key,like) {
                        var commentId = like.commentId;
                        $("#like"+commentId).attr("class","glyphicon glyphicon-heart");
                    })
                }else{
                    alert("点赞初始化失败！");
                }
            });
        }

        function initQuestion(){
            $.get("/questionnaire/question/list",{courseId:[[${course.id}]]},function (data) {
               console.log(data.code);
               if (data.code == 200) {
                   $('#questionnaire-list').html("");
                   var html ='';
                   $.each(data.datas,function (key,questionnaire) {
                       html +='<div class="panel panel-default" data-toggle="modal" data-target="#showQuestion" id="Question-panel-'+ questionnaire.id +'">\n' +
                           '\t<div class="panel-body" style="padding-bottom:5px">\n' +
                           '\t\t<div class="pull-left"><h3 id="questionnaire-title-show" style="margin-top: 0px;">'+questionnaire.title+'</h3></div>\n' +
                           '\t\t<span class="pull-left hiddenSpan" style="clear: both !important">\n'
                               + questionnaire.qhtml  +
                           '\t\t</span>\n' +
                           '\t\t<div class="row">\n' +
                           '\t\t\t<div class="pull-left" style="clear: both !important"><span>'+new Date(questionnaire.createTime).Format("yyyy-MM-dd HH:mm")+'</span></div>\n' +
                           '\t\t\t<span class="pull-right row">\n' +
                           // '\t\t\t\t\t<span class="glyphicon glyphicon-screenshot"></span>\n' +
                           '\t\t\t\t\t<span>' +questionnaire.followCount+'</span>\n' +
                           '\t\t\t</span>\n' +
                           '\t\t</div>\n' +
                           '\t</div>\n' +
                           '</div>';
                   });
                   $('#questionnaire-list').append(html);
               } else {
                   alert("获取答疑请求失败！");
               }
            })
        }

        $(document).on("click","div[data-target=\"#showQuestion\"]",function(e){
            var qId = $(this).attr("id").replace("Question-panel-","");
            $.get("/questionnaire/getById",{qId:qId},function (res) {
                if(res.code === 200){
                    $("#showQuestion-title").html(res.data.title);
                    $("#showQuestion-content").html(res.data.qhtml);
                }else {
                    alert("答疑问题模态框初始化失败!")
                }
            });
        });

        function initAnswer(){
            $.get("/questionnaire/answer/list",{courseId:[[${course.id}]]},function (data) {
                console.log(data.code);
                if (data.code == 200) {
                    $('#questionnaire-list').html("");
                    var html ='';
                    $.each(data.datas,function (key,questionnaire) {
                        html +='<div class="panel panel-default" data-toggle="modal" data-target="#showAnswer" id="Answer-panel-'+ questionnaire.id +'">\n' +
                            '\t<div class="panel-body" style="padding-bottom:5px">\n' +
                            '\t\t<div class="pull-left"><h3 id="questionnaire-title-show" style="margin-top: 0px;">'+questionnaire.title+'</h3></div>\n' +
                            '\t\t<span class="pull-left hiddenSpan" style="clear: both !important">\n'
                            + questionnaire.qhtml  +
                            '\t\t</span>\n' +
                            '\t\t<div class="row">\n' +
                            '\t\t\t<div class="pull-left" style="clear: both !important"><span>'+new Date(questionnaire.createTime).Format("yyyy-MM-dd HH:mm")+'</span></div>\n' +
                            '\t\t\t<span class="pull-right row">\n' +
                            // '\t\t\t\t\t<span class="glyphicon glyphicon-screenshot"></span>\n' +
                            '\t\t\t\t\t<span>' +questionnaire.followCount+'</span>\n' +
                            '\t\t\t</span>\n' +
                            '\t\t</div>\n' +
                            '\t</div>\n' +
                            '</div>';
                    })
                    $('#questionnaire-list').append(html);
                } else {
                    alert("获取答疑请求失败！");
                }
            })
        }

        $(document).on("click","div[data-target=\"#showAnswer\"]",function(){
            var qId = $(this).attr("id").replace("Answer-panel-","");

            $.get("/questionnaire/getById",{qId:qId},function (res) {
                if(res.code === 200){
                    $("#showAnswer-title").html(res.data.title);
                    $("#showAnswer-content").html(
                        '<p style=\"text-align:center;\">答疑问题描述</p>'
                        + res.data.qhtml
                        + '<p style=\"text-align:center;\">问题解答</p>'
                        + res.data.ahtml
                        );
                }else {
                    alert("答疑解答模态框初始化失败!")
                }
            });
        });

        function accessStudy(courseId,sectionId) {
            window.location.href="/course/study?courseId="+courseId+"&sectionId="+sectionId+"&userId="+localStorage.getItem("userId");
        }

    </script>
</body>
</html>
