<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Friday-System</title>
        <header th:replace="/admin/header::html"></header>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">用户管理</a>
            <a>
                <cite>用户列表</cite></a>
          </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
                <i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>

        <div class="layui-fluid">
            <div class="layui-row  layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form  layui-col-space5">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>


                        <div class="layui-card-body ">
                            <table class="layui-hide" id="table" lay-filter="member"></table>
                        </div>

                        <div class="layui-card-body ">
                            <script type="text/html" id="barDemo">
                                {{#  if(d.status !=3){ }}
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable" >禁用</a>
                                {{# }else{ }}
                                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="enable" >启用</a>
                                {{# } }}
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        layui.use(['table'], function(){
            var table = layui.table,
                form = layui.form;
            table.render({
                elem: '#table'
                ,url: '/user/list' //数据接口
                ,page: true //开启分页
                ,response: {
                    countName: 'count', //规定数据总数的字段名称，默认：count
                    dataName: 'datas' //规定数据列表的字段名称，默认：data
                }
                ,cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'id', title: 'ID', align:'center', width:50}
                        ,{field: 'username', title: '用户名' ,width: 100}
                        ,{field: 'gender', title: '性别',     width: 100,
                        templet:function(d){return  d.gender == '1' ? "男":"女";}}
                        ,{field: 'avatar_url', title: '头像' ,hide:true}
                        ,{field: 'email', title: '邮箱'      ,width: 150}
                        ,{field: 'birthday', title: '生日'   ,width: 100}
                        ,{field: 'sign', title: '签名'       ,width: 200}
                        ,{title: '操作', fixed: 'right', width: 134, align:'center', toolbar: '#barDemo'}
                    ]
                ]
            });

            //监听工具条
            table.on('tool(member)', function(obj){
                var data = obj.data;
                if(obj.event === 'disable'){
                    layer.confirm('真的禁用该用户么', function(index){
                        $.ajax({
                            url:"/user/disable",
                            type:"POST",
                            data:{id:data.id},
                            dataType:'json',
                            success:function(result){
                                if(result.code === 200){
                                    layer.ready(function () {
                                        layer.msg("禁用成功", {icon: 1});
                                        table.reload('table');
                                    });
                                }else {
                                    layer.ready(function () {
                                        layer.msg("请求失败", {icon: 1});
                                    });
                                }
                            }
                        });
                    });
                }else if (obj.event === 'enable'){
                    $.ajax({
                        url:"/user/enable",
                        type:"POST",
                        data:{id:data.id},
                        dataType:'json',
                        success:function(result){
                            if(result.code === 200){
                                layer.ready(function () {
                                    layer.msg("启用成功", {icon: 1});
                                    table.reload('table');
                                });
                            }else {
                                layer.ready(function () {
                                    layer.msg("启用失败", {icon: 1});
                                });
                            }
                        }
                    });
                }
            });

            //搜索
            form.on('submit(search)', function(data){
                var username = data.field.username;
                table.render({
                    elem: '#table'
                    ,url: '/student/findUserByFuzzyUserName' //数据接口
                    ,page: true //开启分页
                    ,where:{
                        "username":username
                    }
                    ,response: {
                        countName: 'count', //规定数据总数的字段名称，默认：count
                        dataName: 'datas' //规定数据列表的字段名称，默认：data
                    }
                    ,cols: [
                        [ //表头
                            {type: 'checkbox', fixed: 'left'}
                            ,{field: 'id', title: 'ID', align:'center', width:50}
                            ,{field: 'username', title: '用户名' ,width: 100}
                            ,{field: 'gender', title: '性别',     width: 100,
                            templet:function(d){return  d.gender == '1' ? "男":"女";}}
                            ,{field: 'avatar_url', title: '头像' ,hide:true}
                            ,{field: 'email', title: '邮箱'      ,width: 120}
                            ,{field: 'birthday', title: '生日'   ,width: 100}
                            ,{field: 'sign', title: '签名'       ,hide:true}
                            ,{title: '操作', fixed: 'right', width: 134, align:'center', toolbar: '#barDemo'}
                        ]
                    ]
                });
                return false;
            });
        });
    </script>

</html>