<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Friday-System</title>
        <header th:replace="/admin/header::html"></header>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">课程管理</a>
            <a>
                <cite>审核列表</cite></a>
          </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
                <i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>

        <div class="layui-fluid">
            <div class="layui-row  layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <div class="layui-card-body ">
                            <table class="layui-hide" id="table" lay-filter="member"></table>
                        </div>

                        <div class="layui-card-body ">
                            <script type="text/html" id="barDemo">
                                {{#if(d.status =='1'){}}
                                <a class="layui-btn layui-btn-xs" lay-event="courseAdd" >创建课程</a>
                                {{#}else{}}
                                <a class="layui-btn layui-btn-xs layui-btn-disabled" >创建课程</a>
                                {{#}}}

                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" permission="sys:user:del">删除</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-inline" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
        </div>

        <div class="layui-inline" lay-event="delete">
            <i class="layui-icon layui-icon-delete"></i>
        </div>
    </script>

    <script>
        layui.use(['table'], function(){
            var table = layui.table,
                form = layui.form;
            table.render({
                elem: '#table'
                ,url: '/verify/listByCreator' //数据接口
                ,where:{creatorId:localStorage.getItem("userId")}
                ,page: true //开启分页
                ,toolbar: '#toolbarDemo'
                ,response: {
                    countName: 'count', //规定数据总数的字段名称，默认：count
                    dataName: 'datas' //规定数据列表的字段名称，默认：data
                }
                ,cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'status', title: '状态',     width: 100,
                        templet:function(d){return  d.status == '0' ? "待审核":d.status == '1' ?
                            '<a class="" style="color:#3da879">审核通过</a>':'<a class="" style="color:#ff5722">审核未通过</a>';}}
                        ,{field: 'name', title: '课程' ,width: 100}
                        ,{field: 'sectionCount', title: '预计章节数'   ,width: 100}
                        ,{field: 'shortIntro', title: '短述' }
                        ,{title: '操作', fixed: 'right', width: 180, align:'center', toolbar: '#barDemo'}
                    ]
                ]
            });

            //监听工具条
            table.on('tool(member)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    layer.confirm('真的删除么', function(index){
                        $.ajax({
                            url:"/verify/delete",
                            type:"POST",
                            data:{id:data.id},
                            dataType:'json',
                            success:function(result){
                                layer.ready(function () {
                                    layer.msg("删除成功", {icon: 1});
                                    table.reload('table');
                                });
                            }
                        });
                    });
                } else if(obj.event === 'courseAdd'){
                    console.log(data);
                    xadmin.open('创建课程','/course/addPage/?id='+data.id);
                }
            });

            table.on('toolbar(member)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id)
                    ,data = checkStatus.data; //获取选中的数据
                console.log(data);
                switch(obj.event){
                    case 'delete':
                        if(data.length === 0){
                            layer.msg('请选择一行');
                        } else {
                            layer.confirm('真的删除吗',function f() {
                                var ids = new Array(data.length);
                                for(var j = 0; j < data.length ; j++) {
                                    ids[j] = data[j].id;
                                }
                                $.ajax({
                                    url:"/verify/deleteBatch",
                                    type:"POST",
                                    data:{ids:ids},
                                    dataType:'json',
                                    success:function(result){
                                        layer.ready(function () {
                                            layer.msg("删除成功", {icon: 1});
                                            table.reload('table');
                                        });
                                    }
                                });
                            });
                        }
                        break;
                    case 'add':
                        parent.xadmin.add_tab('申请开课 ',' /api/getPage?pageName=admin/course/verify-apply ');
                        break;
                }
            });

        });
    </script>

</html>