<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Friday-System</title>
        <header th:replace="/admin/header::html"></header>

        <style>
            .layui-table-cell{
                height: auto!important;
                white-space: normal;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">章节管理</a>
            <a>
                <cite>章节列表</cite></a>
          </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
                <i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>

        <div class="layui-fluid">
            <div class="layui-row  layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <div class="layui-card-body ">
                            <table class="layui-hide" id="table" lay-filter="member"></table>
                        </div>

                        <div class="layui-card-body ">
                            <script type="text/html" id="barDemo">
                                <a class="layui-btn layui-btn-xs" lay-event="sectionEdit" >编辑章节</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-inline" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
        </div>
        <div class="layui-inline" lay-event="update">
            <i class="layui-icon layui-icon-edit"></i>
        </div>
        <div class="layui-inline" lay-event="delete">
            <i class="layui-icon layui-icon-delete"></i>
        </div>
    </script>
    <script>
        layui.use(['table'], function(){
            var table = layui.table;
            table.render({
                elem: '#table'
                ,url: '/section/list' //数据接口
                ,page: true //开启分页
                ,toolbar: '#toolbarDemo'
                ,response: {
                    countName: 'count', //规定数据总数的字段名称，默认：count
                    dataName: 'datas' //规定数据列表的字段名称，默认：data
                }
                ,cols: [
                    [ //表头
                        {type: 'checkbox' ,width:80 ,align:'center'}
                        ,{field: 'sectionId', title: '章节ID', width: 100}
                        ,{field: 'name', title: '章节名'   ,width: 100}
                        ,{field: 'coverUrl',  title: '封面' , templet:'<div style=""><img width="260" src="{{d.coverUrl}}"></div>',width:160}
                        ,{field: 'videoUrl', title: '视频链接'  ,templet:function(d){return  d.videoUrl == '' ?
                            '<div><video hidden="true"></video></div>'
                            :
                            '<div> <video controls="controls" style="margin-top: 10px;max-width: 260px;width: 100%;" ><source src="'
                            + d.videoUrl + '" type="video/mp4"> </video></div>'
                        }}
                        ,{field: 'uploadTime', title: '上传时间',templet : "<div>{{layui.util.toDateString(d.uploadTime, 'yyyy年MM月dd日 HH:mm')}}</div>" ,width: 112}
                        ,{title: '操作', fixed: 'right', width: 180, align:'center', toolbar: '#barDemo'}
                    ]
                ]
            });

            //监听工具条
            table.on('tool(member)', function(obj){
                var data = obj.data;
                if(obj.event === 'sectionEdit'){
                    xadmin.open('编辑章节信息','/section/editPage/?id='+data.id);
                }
            });

            table.on('toolbar(member)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id)
                    ,data = checkStatus.data; //获取选中的数据
                console.log(data);
                switch(obj.event){
                    case 'add':
                        xadmin.open("增加章节","/section/addPage");
                        break;
                    case 'update':
                        if(data.length === 0){
                            layer.msg('请选择一行');
                        } else if(data.length > 1){
                            layer.msg('只能同时编辑一个');
                        } else {
                            xadmin.open('编辑章节信息','/section/editPage/?id='+data[0].id);
                        }
                        break;
                    case 'delete':
                        if(data.length === 0){
                            layer.msg('请选择一行');
                        } else {
                            layer.confirm('真的删除吗',function f() {
                                var ids = new Array(data.length);
                                for(var j = 0; j < data.length ; j++) {
                                    ids[j] = data[j].id;
                                }
                                $.ajax({
                                    url:"/section/deleteBatch",
                                    type:"POST",
                                    data:{ids:ids},
                                    dataType:'json',
                                    success:function(result){
                                        layer.ready(function () {
                                            layer.msg("删除成功", {icon: 1});
                                            table.reload('table');
                                        });
                                    }
                                });
                            });
                        }
                        break;
                }
            });
        });
    </script>

</html>