<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>创建章节信息</title>
    <header th:replace="/admin/header::html"></header>
    <link rel="stylesheet"  th:href="@{/js/upload-js/style.css}"/>
  </head>
  
  <body>
     <div class="x-body">
         <form class="layui-form">

            <div class="layui-form-item">
              <label for="L_name" class="layui-form-label">
                  <span class="x-red">*</span>章节名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_name" name="name" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>


             <div id="container" class="layui-form-item">
                 <label for="upload-pc" class="layui-form-label">
                     章节封面:
                 </label>

                 <img class="layui-upload-img" id="upload-pc" width="200" >
                 <pre id="console"></pre>
             </div>

             <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
             <br/>

             <div class="layui-form-item">
                 <label for="upload" class="layui-form-label">
                 </label>
                 <div id="upload">
                     <a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
                     <a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
                 </div>
             </div>


             <div id="container1" class="layui-form-item">
                 <label for="upload-pc" class="layui-form-label">
                     章节视频:
                 </label>

                 <video controls='controls' style="margin-top: 10px;max-width: 400px;width: 100%;" hidden="true">
                     <source src="" type='video/mp4' id="video">
                 </video>
                 <pre id="console1"></pre>
                 <div class="layui-form-mid layui-word-aux">
                     支持AVI、wma、rmvb、rm、flash、mp4、mid、3GP等格式
                 </div>
             </div>

             <div id="ossfile1">你的浏览器不支持flash,Silverlight或者HTML5！</div>
             <br/>

             <div class="layui-form-item">
                 <label for="upload-video" class="layui-form-label">
                 </label>
                 <div id="upload-video">
                     <a id="selectfiles1" href="javascript:void(0);" class='btn'>选择文件</a>
                     <a id="postfiles1" href="javascript:void(0);" class='btn'>开始上传</a>
                 </div>
             </div>


             <div class="layui-form-item">
                  <button  class="layui-btn" lay-filter="add" lay-submit="">
                    创建
                  </button>
                </div>

         </form>
     </div>

     <script type="text/javascript" src="/js/upload-js/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
     <script type="text/javascript" src="/js/upload-js/imageUpload.js"></script>
     <script type="text/javascript" src="/js/upload-js/videoUpload.js"></script>
     <script>

      layui.use(['form','layer', 'laydate'], function(){

          var form = layui.form
          ,layer = layui.layer
          ,laydate = layui.laydate
          ,$ = layui.jquery;

          //日期
          laydate.render({
              elem: '#C_end'
              ,format: 'yyyy-MM-dd' //可任意组合
          });

            //自定义验证规则
            form.verify({
              name: function(value){
                if(value.length < 5){
                  return '昵称至少得5个字符啊';
                }
              }
              ,telephone: [/(.+){6,12}$/, '电话号码必须6到12位']
              ,pass: [/(.+){6,12}$/, '密码必须6到12位']
              ,repass: function(value){
                  if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                  }
              }
            });


          //监听提交
            form.on('submit(add)', function(data){
                data.field.coverUrl = imageUrl;
                data.field.videoUrl = videoUrl;
                $.ajax({
                    url:"/section/add",
                    type:"POST",
                    data:data.field,
                    dataType:'json',
                    success:function(result){
                        if(result.code == 500 || result.code == 5000100 || result.code == 5000101 || result.code == 5000102){
                            layer.alert(result.msg);
                        }else{
                            layer.ready(function () {
                                layer.msg("创建成功", {icon: 6});
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                        }
                    },
                    error:function (result) {
                            console.log(result);
                    }
                });
              return false;
            });

      });
  </script>
  </body>
</html>