<!DOCTYPE html>
<html lang="zh-CN" >
<head>
    <meta charset="utf-8">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/highlight.js/9.8.0/monokai-sublime.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/katex/0.6.0/katex.min.css">
    <link rel="stylesheet" href="/libs/videojs/5.11.7/video-js.min.css">
    <link rel="stylesheet" href="/css/dest/styles.css?=2016121272249">

    <script type="text/javascript" src="/js/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script type="text/javascript" src="/js/highlight.js/9.8.0/highlight.min.js"></script>

</head>
</html>