<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/libs/wangEditor/wangEditor.js"></script>
    <script src="/js/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/xss/xss.js"></script>
    <script src="/js/xss/options.js"></script>
</head>
<body>
<div id="editor">
    <p>Hello World</p>
</div>
<button id="submit">提交</button>
<div id="html"></div>
<input id="htmlId"/>
<button id="get">获取Html</button>


</body>
<script>
    var E = window.wangEditor;
    var editor = new E("#editor");
    editor.create();


    $('#submit').click(function () {
        var html = editor.txt.html();
        html = filterXSS(html,options);
        console.log(html);

        $.post("/test",{htmlJson:JSON.stringify(html)},function (data) {
            console.log(data.code);
                if (data.code == 200) {
                    console.log("请求发送成功！   id:"+data.data);
                } else {
                    alert("请求失败！");
                }
            }
        )
    });

    $('#get').click(function () {
        $.post("/testGet",{id:$('#htmlId').val()},function (data) {
                if (data.code == 200) {
                    var html = filterXSS(JSON.parse(data.data.htmlString),options);
                    console.log(html)
                    $("#html").html(html);
                } else {
                    alert("请求失败！");
                }
            },'json'
        );
    });

    var questionnaire = {userId:2,courseId:2,title:"在无动力的情况下车决不会受与整体运动方向相同的摩擦力。所以，车不会拉马走。",
        QHtml:"<p>公布答案</p><p><span>噔噔噔噔：</span></p><p>向哪运动是由摩擦力决定，开始马受到地面的摩擦力大于车受到的方向相反的摩擦力，车就与马一起向前运动。而后只要两者的摩擦力相等，这种状况就能持续了。在无动力的情况下车决不会受与整体运动方向相同的摩擦力。所以，车不会拉马走。</p>"}

    $.post("/testSendObject",{Questionnaire:JSON.stringify(questionnaire),id:888},function (data) {
            console.log(data.code);
            if (data.code == 200) {
                console.log("请求发送成功！   id:"+data.data);
            } else {
                alert("请求失败！");
            }
        }
    )

</script>
</html>