<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mooc_manager.dao.PermissionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chen.mooc_manager.model.Permission">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="permission" property="permission" />
        <result column="parentId" property="parentId" />
        <result column="sort" property="sort" />
        <result column="css" property="css" />
        <result column="href" property="href" />
        <result column="type" property="type" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, permission, parentId, sort, css, href, type, createTime, updateTime, deleted
    </sql>

</mapper>
